<header>
  <mat-toolbar class="header-container" color="primary">
    <div class="left-menu" id="header-divmenualign-03">
      <a
        (click)="navigateToHome()"
        class="navbar-brand logo header-click"
        id="header-logo-04"
      >
        <img class="abbott-icon"
          src="abbott_logo.png"
          id="header-logobrandimg-05"
          alt="Abbott Logo"
        /> Abbott
      </a>
    </div>
    <div class="mid-menu">Welcome to Abbott App Simulator</div>
    <div></div>
    <!-- <span class="user-avatar">
      <button mat-mini-fab class="user-name-logo">
        <img
          style="height: 45px; border-radius: 50%"
          src="profile.jpg"
          alt=""
        />
      </button>
      <span>{{ "Test App" | uppercase }}</span>
      <button class="sing-out" mat-raised-button (click)="logout()">
        SIGN OUT
      </button>
    </span> -->
  </mat-toolbar>
</header>
